@font-face {
  font-family: 'MyFont';
  src:  url('assets/fonts/acooperblack.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $color;}
h2{color: #000; font-family: 'MyFont';}

#app{width: 200px; height: 100px;  color: #000; font-family: 'MyFont'}