@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/acooperblack.woff') format('woff');
}

html,
body {
  background: $color;
  margin: 0;
  padding: 0;
}
h2 { color: #000; font-family: 'MyFont';}

#app { color: #000; font-family: 'MyFont'; height: 100px;width: 200px;}
